{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "linebreak-style": 0,
    "comma-dangle": [
      "error",
      {
        "functions": "ignore"
      }
    ],
    "import/prefer-default-export": "off"
  },
  "no-underscore-dangle": 0
}